[Unit]
Description=Glances System Monitoring
After=network.target

[Service]
Type=simple
User=root
ExecStart=/home/pi/pi-nas/venv/bin/glances -w -C /home/pi/pi-nas/config/glances.conf
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
